@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

* {
    font-family: 'Oswald', cursive;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-image: url('/web_components/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.container {
    background-color: #ffffff;
    width: 100vw;
    max-width: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 25px 0;
    box-shadow: 0 0 50px #333333;
    border-radius: 4px;
    opacity: 0.95;
    animation: bounceInDown;
    animation-duration: 1s;
}

.title {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 25px;
}


.help > img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    margin: 25px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 50px #333333;
    opacity: 0.93;
}

.help > img:active {
    width: 40px;
    height: 40px;
    margin: 30px;
    box-shadow: none;
}

.help > img:hover, .help > img:focus {
    box-shadow: 0 0 50px #aaaaaa;
}

.about {
    padding: 0 10px;
    text-indent: 15px;
}

/* Material input */
.group { 
    position:relative; 
    margin-bottom:40px;
    width: 250px;
}
input {
    font-size:14px;
    padding:10px;
    width: 250px;
    display:block;
    border:none;
    border-bottom:1px solid #757575;
}
input:focus { 
    outline:none; 
}
label {
    color:#999;
    font-size:14px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:10px;
    top:7px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}
input:focus ~ label, input:valid ~ label {
    top:-20px;
    font-size:12px;
    color:#0589ed;
}
.bar { 
    position:relative; display:block; width:300px; 
}
.bar:before, .bar:after {
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:#0589ed; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}
.bar:before {
    left:33.5%;
}
.bar:after {
    right:50%; 
}
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
}
.highlight {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
}
input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}
@-webkit-keyframes inputHighlighter {
	from { background:#0589ed; }
    to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#0589ed; }
    to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#0589ed; }
    to 	{ width:0; background:transparent; }
}
/* Material button */
button {
    width: 300px;
    height: 37px;
    position: relative;
    display: block;
    margin: 7px auto;
    padding: 0;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    color: #ecf0f1;
    transition: background-color .3s;
}
button > * {
    position: relative;
}  
button span {
    display: block;
}
button:before {
    content: "";   
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    background-color: rgba(236, 240, 241, .3);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}  
button:active:before {
    width: 120%;
    padding-top: 120%;    
    transition: width .2s ease-out, padding-top .2s ease-out;
}
#login, #create {
    background-color: #0589ed;
}
#request, #cancel {
    background-color: #7a98af;
}