@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

* {
    font-family: 'Oswald', cursive;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-image: url('/web_components/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: auto;
}

.navbar {
    height: 45px;
    background-color: #ffffff;
    color: #333333;
    box-shadow: 2px 2px 15px #333333;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
}

.navlink {
    background-color: #ffffff;
    cursor: pointer;
    width: 30%;
    text-align: center;
    margin: 8px 10px 8px 0;
    border-bottom: 2px solid #0589ed;
    border-radius: 0px;
    box-shadow: 2px 2px 15px #ffffff;
    opacity: 0.75;
}

.navlink:hover {
    opacity: 1;
}

.navlink:active {
    box-shadow: none;
    border: none;
    margin: 10px 10px 10px 0;
    color: #666666;
}

.logout, .user {
    padding: 10px 0 10px 10px;
    opacity: 0.85;
}

.logout:hover, .user:hover {
    opacity: 1;
}

.logout > img, .user > img {
    height: 25px;
    width: 25px;
    border-radius: 4px;
    box-shadow: 2px 2px 15px #ffffff;
    cursor: pointer;
    background-color: #ffffff;
}

.container {
    margin: 20px auto;
    width: 100%;
    max-width: 900px;
    height: auto;
    background-color: #ffffff;
    box-shadow: 2px 2px 15px #333333;
    animation: fadeIn;
    animation-duration: 1s;
    opacity: 0.95;
}

.title {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

.about {
    padding: 0 20px;
    text-indent: 15px;
}

.userinfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 20px;
    flex-wrap: wrap;
}

.userinfo > div {
    display: flex;
    flex-direction: column;
}

.userinfo > img {
    height: 272px;
}

.userinfo > div > img {
    height: 231px;
    width: 250px;
}

.actionstab {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

input, button, select {
    border: none;
    outline: none;
    border-radius: 0px;
    width: 250px;
}

input, select {
    height: 35px;
    margin: 5px 0;
    border-bottom: 2px solid #aaaaaa;
    background-color: #eeeeee;
    padding: 0 5px;
    appearance: none;
    -webkit-appearance: none;
}

input:active, input:focus, input:hover, select:active, select:focus, select:hover {
    box-shadow: 0 5px 25px #aaaaaa;
}

input:focus, select:focus {
    border-bottom: 2px solid #0589ed;
}

button {
    margin: 25px 0 6px 0;
    height: 35px;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
}

button:hover {
    box-shadow: 0 5px 25px #aaaaaa;
}

#save {
    background-color: #0589ed;
}
#save:active {
    background-color: #ffffff;
    color: #0589ed;
}

#clear {
    background-color: #7a98af;
}
#clear:active {
    background-color: #ffffff;
    color: #7a98af;
}

.tariff {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 0 40px 0;
}

.tariff > div {
    text-align: center;
    border: 1px solid #aaaaaa;
    width: 40%;
    height: 250px;
    cursor: pointer;
}

.tariff > div:hover {
    box-shadow: 0 5px 25px #aaaaaa;
}

.tariff > div:active {
    box-shadow: 0 5px 25px #0589ed;
}

.tariff > div > img {
    height: 100%;
    width: 100%;
}

.copyright {
    width: 100%;
    background-color: #ffffff;
    color: #333333;
    height: 20px;
    text-align: center;
    opacity: 0.95;
    font-size: 10px;
    padding: 5px 0 0 0;
}

iframe, .canvas {
    margin: 0 2%;
    box-shadow: 0 5px 25px #aaaaaa;
}

.reports {
    padding: 0 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.serchbar {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.serchbar > div {
    display: flex;
    flex-direction: row;
}

.table > table {
    margin: 0 auto;
    width: 96%;
    box-shadow: 0 5px 25px #aaaaaa;
}
table {
    background-color: #eeeeee;
}
thead > tr > th {
    text-align: start;
    padding: 10px;
    box-shadow: 0 1px 0 #0589ed;
}
tbody > tr > td {
    text-align: start;
    padding: 5px 10px;
    background-color: #ffffff;
}
.table-row:hover {
    box-shadow: 0 1px 0 #0589ed;
    cursor: pointer;
}
.table-row:active {
    box-shadow: 0 1px 15px #0589ed;
    cursor: pointer;
    opacity: 0.5;
}