@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

* {
    font-family: 'Oswald', cursive;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-image: url('/web_components/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: auto;
}

.navbar {
    height: 45px;
    background-color: #ffffff;
    color: #333333;
    box-shadow: 2px 2px 15px #333333;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
}

.navlink {
    background-color: #ffffff;
    cursor: pointer;
    width: 30%;
    text-align: center;
    margin: 8px 10px 8px 0;
    border-bottom: 2px solid #0589ed;
    border-radius: 0px;
    box-shadow: 2px 2px 15px #ffffff;
    opacity: 0.75;
}

.navlink:hover {
    opacity: 1;
}

.navlink:active {
    box-shadow: none;
    border: none;
    margin: 10px 10px 10px 0;
    color: #666666;
}

.logout, .user {
    padding: 10px 0 10px 10px;
    opacity: 0.85;
}

.logout:hover, .user:hover {
    opacity: 1;
}

.logout > img, .user > img {
    height: 25px;
    width: 25px;
    border-radius: 4px;
    box-shadow: 2px 2px 15px #ffffff;
    cursor: pointer;
    background-color: #ffffff;
}

.container {
    margin: 20px auto;
    width: 100%;
    max-width: 900px;
    height: auto;
    background-color: #ffffff;
    box-shadow: 2px 2px 15px #333333;
    animation: fadeIn;
    animation-duration: 1s;
}

.title {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

.about {
    padding: 0 20px;
    text-indent: 15px;
}

.userinfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 20px;
    flex-wrap: wrap;
}

.userinfo > div {
    display: flex;
    flex-direction: column;
}

.userinfo > img {
    height: 272px;
    margin-bottom: 35px;
}

.userinfo > div > img {
    height: 231px;
    width: 250px;
}

.actionstab {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#save {
    background-color: #0589ed;
    margin-bottom: 40px;
}

#photo {
    margin-bottom: 40px;
}

#save:active {
    background-color: #ffffff;
    color: #0589ed;
}

#clear {
    background-color: #7a98af;
}
#clear:active {
    background-color: #ffffff;
    color: #7a98af;
}

.tariff {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 0 40px 0;
}

.tariff > div {
    text-align: center;
    border: 1px solid #aaaaaa;
    width: 40%;
    height: 250px;
    cursor: pointer;
}

.tariff > div:hover {
    box-shadow: 0 5px 25px #aaaaaa;
}

.tariff > div:active {
    box-shadow: 0 5px 25px #0589ed;
}

.tariff > div > img {
    height: 100%;
    width: 100%;
}

.copyright {
    width: 100%;
    background-color: #ffffff;
    color: #333333;
    height: 20px;
    text-align: center;
    font-size: 10px;
    padding: 5px 0 0 0;
}

iframe, .canvas {
    margin: 0 2%;
    box-shadow: 0 5px 35px #aaaaaa;
}

.reports {
    padding: 0 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.serchbar {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.serchbar > div {
    display: flex;
    flex-direction: row;
}

.table > table {
    margin: 0 auto;
    width: 96%;
    box-shadow: 0 5px 35px #aaaaaa;
}
table {
    background-color: #eeeeee;
}
thead > tr > th {
    text-align: start;
    padding: 10px;
}
tbody > tr > td {
    text-align: start;
    padding: 5px 10px;
    background-color: #ffffff;
}
.table-row:hover {
    box-shadow: 0 1px 0 #0589ed;
    cursor: pointer;
}
.table-row:active {
    box-shadow: 0 1px 15px #0589ed;
    cursor: pointer;
    opacity: 0.5;
}

.up__btn > img {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    margin: 35px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 50px #333333;
    opacity: 0.93;
    z-index: 999;
    border: 3px solid #ffffff;
}

.up__btn > img:active {
    width: 40px;
    height: 40px;
    margin: 40px;
    box-shadow: none;
}

.up__btn > img:hover, .up__btn > img:focus {
    box-shadow: 0 0 50px #aaaaaa;
}

#asc, #desc {
    cursor: pointer;
}

#asc:hover, #desc:hover {
    box-shadow: 0 0 15px #0589ed;
    background-color: #0589ed;
}

#asc:after {
    margin: 8px;
	position: absolute;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #eeeeee;
	pointer-events: none;
}

#desc:after {
    margin: 8px;
	position: absolute;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #eeeeee;
	pointer-events: none;
}

/* Material select */
input, select {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    width: 250px;
    box-shadow: 0 5px 35px #aaaaaa;
    height: 37px;
    border: none;
    border-radius: 0px;
}
.select {
    margin-bottom:20px;
    position: relative;
}
.select-text {
    position: relative;
    background-color: transparent;
    padding: 5px 10px;
    font-size: 14px;
    border-bottom: 1px solid #666666;
}
.select .select-text {
	appearance: none;
	-webkit-appearance:none;
    color: gray;
}
.select:after {
	position: absolute;
	top: 18px;
	right: 10px;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid rgba(0, 0, 0, 0.12);
	pointer-events: none;
}
.select-label {
    color: #eeeeee;
    background: white;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    padding: 0 5px;
    left: 10px;
    top: 12px;
    transition: 0.2s ease all;
}
.select-text:focus ~ .select-label, .select-text:valid ~ .select-label {
    top: -10px;
    transition: 0.2s ease all;
    font-size: 12px;
}
.select-text:valid:not(focus) ~ .select-label {
    background: #0589ed;
}
.select-text:focus {
    border-bottom: 3px solid #0589ed;
}  
/* Material input */
.group { 
    position:relative; 
    margin-bottom:40px;
    width: 250px;
}
input {
    font-size:14px;
    padding:10px;
    width: 250px;
    display:block;
    border:none;
    border-bottom:1px solid #757575;
}
input:focus { 
    outline:none; 
}
label {
    color:#999;
    font-size:14px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:10px;
    top:7px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}
input:focus ~ label, input:valid ~ label {
    top:-20px;
    font-size:12px;
    color:#0589ed;
}
.disabled ~ label {
    top:-20px;
    font-size:12px;
    color:#0589ed;
}
.bar { 
    position:relative; display:block; width:300px; 
}
.bar:before, .bar:after {
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:#0589ed; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}
.bar:before {
    left:33.5%;
}
.bar:after {
    right:50%; 
}
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
}
.highlight {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
}
input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}
@-webkit-keyframes inputHighlighter {
	from { background:#0589ed; }
    to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#0589ed; }
    to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#0589ed; }
    to 	{ width:0; background:transparent; }
}
/* Material button */
button {
    cursor: pointer;
    width: 250px;
    height: 37px;
    position: relative;
    display: block;
    margin: 7px auto;
    padding: 0;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 5px 35px #aaaaaa;
    color: #ecf0f1;
    transition: background-color .3s;
}
button > * {
    position: relative;
}  
button span {
    display: block;
}
button:before {
    content: "";   
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    background-color: rgba(236, 240, 241, .3);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}  
button:active:before {
    width: 120%;
    padding-top: 120%;    
    transition: width .2s ease-out, padding-top .2s ease-out;
}
#login, #create {
    background-color: #0589ed;
}
#request, #cancel {
    background-color: #7a98af;
}
